################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-parser/bin/Debug
/csharp-parser/.vs/csharp-parser/v15
